:root {
    --win: #008000;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.navbar-brand {
    padding-left: 0;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
.square.winning-move {
   color: #008000;
   animation: flash 2s;
}

@keyframes flash {
    0% {
        text-shadow: 0
    }
    50% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--win), 0 0 40px var(--win), 0 0 50px var(--win), 0 0 50px var(--win), 0 0 50px var(--win);
    }
    100% {
        text-shadow: 0;
    }
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.name-form {
    margin-bottom: 12px;
}

.board-area {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.game-info {
    margin-left: 20px;
}

/* .appContainer {
    display: flex;
    justify-content: center;
} */

.win-column-container {
    margin-left: 20px;
}
.win-column-container > h2 {
    font-size: 19px;
}
